<!DOCTYPE HTML>
<html>
  <head>
    <title>Hierarchical Bubbles</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="lib/famous/core/famous.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
  	<div style="color:#c8c8c8">1</div>
  	<div style="color:#89be44">2</div>
  	<div style="color:#00aa00">3</div>
  	<div style="color:#f2d007">4</div>
  	<div style="color:#ffaa00">5</div>
  	<div style="color:#ff5500">6</div>
  	<div style="color:#ff0000">7</div>
    <div id="charts"></div>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/requirejs/require.js" data-main="js/requireConfig"></script>
  </body>
</html>