<!doctype>
<html>
<head>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css">
<style>

body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

</style>
</head>
<body>
	<div><a href="/">Home </a><span style="text-align:center;">> Error Codes by Date <input type="text" id="datepicker"></span></div>
</body>
<script>

function getParameterByName(name) {
    name = name.replace(/[\[]/, "\\[").replace(/[\]]/, "\\]");
    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
        results = regex.exec(location.search);
    return results === null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
}

function getDateSelected(){
	return $('#datepicker').datepicker({ dateFormat: 'dd-mm-yy' }).val();
}

$(document).ready(function(){
	var datePicker = $("#datepicker");
    datePicker.datepicker({
        "dateFormat": "mm-dd-yy",
        "minDate": -7,
        "maxDate": new Date(),
        onSelect: function(date) {
        	
            var newUrl = "/errorcodes.html?date="+getDateSelected(); 
			//console.log("load page :"+newUrl);
  			window.location.assign(newUrl);	
        }
    })
    .attr("readonly", true);
    var dateParam = getParameterByName("date");
    
    if(!dateParam) {
		datePicker.datepicker('setDate', new Date());
	}else{
		datePicker.datepicker('setDate', dateParam);
	}
});


var margin = {top: 20, right: 20, bottom: 30, left: 40},
    width = 960 - margin.left - margin.right,
    height = 500 - margin.top - margin.bottom;

var formatPercent = d3.format(".0%");

var xValue = function(d) { return d._id; }, // data -> value
    xScale = d3.scale.ordinal().rangeRoundBands([0, width], .1), // value -> display
    xMap = function(d) { return xScale(xValue(d)); }, // data -> display
    xAxis = d3.svg.axis().scale(xScale).orient("bottom");

var yValue = function(d) { return d.count; }, // data -> value
    yScale = d3.scale.linear().range([height, 0]), // value -> display
    yMap = function(d) { return yScale(yValue(d)); }, // data -> display
    yAxis = d3.svg.axis().scale(yScale).orient("left");

var svg = d3.select("body").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var url = '/errorcodesjson/<%= date %>';

d3.json(url, function(error, data) {

  xScale.domain(data.map(xValue));
  
  yScale.domain([0, d3.max(data, yValue)]);
  
  svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")")
      .call(xAxis);

  svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
    .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("Frequency");

  svg.selectAll(".bar")
      .data(data)
    .enter().append("rect")
      .attr("class", "bar")
      .attr("x", xMap)
      .attr("width", xScale.rangeBand)
      .attr("y", yMap)
      .on("click",function(d){handle(d);})
      .attr("height", function(d) { return height - yMap(d); });

});

function handle(errorcode){
	var url = "/errorsummary.html?errorcode="+errorcode._id+"&date="+getDateSelected();
   	window.open(url,'_blank');
}

function type(d) {
  d.count = +d.count;
  return d;
}

</script>

</html>
