<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
<style>

table {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:10px;
	border:black 1px solid;
}
table th {
}
table th:first-child {
	text-align: left;
	padding-left:20px;
}
table td {
}
table tr.even td {
}
</style>
<script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
</head>

<body>

<div class="pure-table pure-table-bordered" ng-app="" ng-controller="errorController">
	<table>
		<thead>
			<tr>
		  		<th>Error Code</th>
				<th>Date</th>
		  		<th>Application</th>
		  		<th>Business Trans</th>
		  		<th>Http Session ID</th>
		  		<th>GUID</th>
		  		<th>Error Summary</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="err in errors | orderBy : 'time':true" ng-class-odd="'alt'">
			    <td>{{ err.code }}</td>
			    <td>{{err.time | date:'yyyy-MM-dd HH:mm:ss'}}</td>
			    <td>{{ err.appname }}</td>
			    <td>{{err.businessTransactionName}}</td>
			    <td>{{err.httpSessionID}}</td>
			    <td><a href="<%=controller%>/controller/#/location=APP_SNAPSHOT_VIEWER&application={{err.appid}}&requestGUID={{err.guid}}" target="_top">{{err.guid}}</a></td>
			    <td>
			    	<table>
			    	<tbody>
			    		<tr ng-repeat="detail in err.details">
			    			<td>{{detail.value}}</td>
			    		</tr>
			    	</tbody>
			    	</table>
			    </td>
			</tr>
		</tbody>
	</table>
</div>

<script>
function errorController($scope,$http) {
  $http.get("/errorsummaryjson/<%=errorcode%>/<%=date%>")
  .success(function(response) {$scope.errors = response;});
}
</script>

</body>
</html>
