<!DOCTYPE HTML>
<html>
  <head>
    <title>Trending Exceptions</title>
    <link rel="stylesheet" type="text/css" href="lib/famous/core/famous.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
  </head>
  <body>
  	<input id="profile" value="<%=profile%>" type="hidden"/>
    <div id="charts" style="display:block;width:100%;height:70px;"></div>
    <script src="lib/underscore/underscore.js"></script>
    <script src="lib/requirejs/require.js" data-main="js/requireBubbleConfig"></script>
  </body>
</html>