<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Custom Dashboards</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  </head>
  <body>
  	<img src="/css/logo.png"/>
    <div><p><a href="/dashboard.html">Exception Trending Dashboard - Bubbles</a></p></div>
    <div><p><a href="/dashboard.html">Exception Trending Dashboard - Bubbles + Graphs</a></p></div>
    <div><p><a href="/dashhelp.html">Exception Trending - Help </a></p></div>
    <div><p><a href="/errorcodes.html">Error Codes By Date</a></p></div>
  </body>
</html>