<!DOCTYPE HTML>
<html>
  <head>
    <title>AppDynamics Custom Dashboards</title>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  </head>
  <body>
    <div><a href="/dashboard.html">Exception Trending Dashboard</a></div>
    <div><a href="/errorcodesbyerror.html">Error Codes - By Code</a></div>
    <div><a href="/errorcodesbydate.html">Error Codes - By Date</a></div>
  </body>
</html>