
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Exception Trending SOP</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/help.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          	<li><a href="/dashhelp.html">Trending Exceptions</a></li>
            <li class="active"><a href="#">SOP</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">
      <div>
        <h1>Standard Operating Procedure : Identifying Exceptions</h1>
        <p>These steps describes the procedure to take when you have identified a problem and would like to send the data to other teams.</p>
        <p>By hovering over the bubbles, we have identified an application tier that has trending exceptions. The Exceptions Per Minute metric is trending up and is higher than the two week average.</p>
        <img src="/sop/screen1.png"/>
        <p/>
        <p>Click on the highlighted tier to drill down to the exception details. This screen lists the exceptions that have a average value greater than 1 exception per minute, for the last 20 minutes.</p>
        <img src="/sop/screen2.png"/>
        <p/>
        <p>Click on the exception you are interested in and you will be taken to AppDynamics Exception Dashboard for this exception. This may take some time to load depending on the number of stacktraces etc.</p>
        <img src="/sop/screen3.png"/>
        <p/>
        <p>You can then click on the "Stack Traces for this Exception" Tab to see the strack traces captured by AppDynamics.</p>
        <p/>
        <img src="/sop/screen4.png"/>
        <p/>
        <p>Create an email with the stack trace and include the AppDynamics url for this specific time period. Click on the chain link icon and select the "Copy a link to this screen to the clipboard(fixed time range).
        It is important to use this menu option because the url being sent to the developers will include the specific time range when we found this issue.
        </p>
        <img src="/sop/screen5.png"/>
        <p/>
        <p>For example the following email will be sent to the team :</p>
        <pre>
        Hi Team,
        
        We have found the following exception started to trend :
        
      java.sql.SQLException.
      at oracle.jdbc.driver.T4CTTIoer.processError(T4CTTIoer.java:445)
      at oracle.jdbc.driver.T4CTTIoer.processError(T4CTTIoer.java:396)
      at oracle.jdbc.driver.T4C8Oall.processError(T4C8Oall.java:879)
      at oracle.jdbc.driver.T4CTTIfun.receive(T4CTTIfun.java:450)
      at oracle.jdbc.driver.T4CTTIfun.doRPC(T4CTTIfun.java:192)
      at oracle.jdbc.driver.T4C8Oall.doOALL(T4C8Oall.java:531)
      at oracle.jdbc.driver.T4CPreparedStatement.doOall8(T4CPreparedStatement.java:207)
      at oracle.jdbc.driver.T4CPreparedStatement.executeForRows(T4CPreparedStatement.java:1037)
      at oracle.jdbc.driver.OracleStatement.doExecuteWithTimeout(OracleStatement.java:1329)
      at oracle.jdbc.driver.OraclePreparedStatement.executeInternal(OraclePreparedStatement.java:3584)
      at oracle.jdbc.driver.OraclePreparedStatement.executeUpdate(OraclePreparedStatement.java:3665)
      at oracle.jdbc.driver.OraclePreparedStatementWrapper.executeUpdate(OraclePreparedStatementWrapper.java:1064)
      at com.mchange.v2.c3p0.impl.NewProxyPreparedStatement.executeUpdate(NewProxyPreparedStatement.java:105)
      at .....
      
      Here is the AppDynamics link that you can use to research this exception :
      
      https://demo.saas.appdynamics.com/controller/#/location=APP_ERROR_DASHBOARD&timeRange=Custom_Time_Range.BETWEEN_TIMES.1428945590134.1428944690134.0&application=19&error=465620
        
      Please investigate this problem and let us know if you need anymore details. For our SOP see here : <a href="http://trendingexceptions:3000/sop.html">http://trendingexceptions:3000/dashboard.html</a>
      
      If this is an acceptable exception please catch this exception and log it with WARN level.  
      If this is a problem please let us know it was an issue and when it will be resolved.
        </pre>
      </div>
      <div>
      	<h1>App Teams SOP : For Researching Exceptions</h1>
      	<p>You have received an email from the Operations team that they have found an exception that was trending in your application. In the email you 
     	would have a copy of the stacktraceand a link to AppDynamics for further details. 
     	</p>
     	<p> The trending dashboard can be located at <a href="/dashboard.html">Exception Trending Dashboard</a> this helps the SOC team identify exceptions which are trending.
     	</p>
     	<p>If you click on the AppDynamics link provided in the email you will be taken to the AppDynamics Exception dashboard for this exception</p>
     	<p/>
     	<img src="/sop/appscreen4.png"/>
     	<p/>
     	<ul>
     		<li>The Exception Details</li>
     		<li>Stack Traces for this exception</li>
     		<li>You can also double click on the graph and you will be taken to the metric browser. From here you can expand the time range e.g. 2 weeks to see the trend over a longer period of time.
     		</li>
     	</ul>
     	<img src="/sop/appscreen5.png"/>
     	</p>
     	<p>The outcome of this excercise is to determine root cause of the exception. If this exception is normal and acceptable behavior then log it with WARN level or below.
     	</p>
     	
      </div>
    </div>
    
    <script src="/css/jquery.min.js"></script>
    <script src="/css/bootstrap.min.js"></script>
  </body>
</html>
