body {
  font-family: arial, Sans-Serif;
  background-color: white;
}

.title {
  padding-top: 2px;
   font: bold 8px "Helvetica Neue", Sans-Serif;
   font-stretch: condensed;
  text-decoration: none;
}

#charts {
  height: 800px;;
}

#intro {
  margin-left: 50px;
}

.tooltip {
  display: none;
  background: white;
  pointer-events: none;
  padding: 5px 5px;
  color: white;
  font-stretch: condensed;
  text-decoration: none;
}

.exception {
  background: #45484B;
  border: 1px solid white;
  pointer-events: none;
  padding: 2px 2px;
  color: white;
  border-radius: 2px;
  margin-top: 2px;
  text-align: center;
  font: bold 8px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  box-shadow: 0 0 2px black;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.factor {
  padding: 2px 2px;
  color: red;
  text-align: center;
  font: bold 14px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}


.apptitle {
  pointer-events: none;
  padding: 2px;
  color: white;
  top-margin:5px;
  text-align: center;
  font: bold 12px "Helvetica Neue", Sans-Serif;
  font-stretch: condensed;
  text-decoration: none;
  z-index:10;
}


/* padding-right: 15px; */